<h2>Todos page</h2>
{{#if todos.length}}
<ul>
  {{#each todos}}
  <li class="todo">
    <form action="/completed" method="POST">
      <label>
        {{#if completed}}
        <input type="checkbox" checked name="completedCheckbox">
        <span class="completed">{{title}}</span>
        {{else}}
        <input type="checkbox" name="completedCheckbox">
        <span>{{title}}</span>
        {{/if}}

        <input type="hidden" value="{{_id}}" name="id">

        <button class="btn btn-small" type="submit">Save</button>
      </label>
    </form>
  </li>
  {{/each}}
</ul>
{{else}}
<p>No todos!</p>
{{/if}}

<a class="waves-effect waves-light btn" href="/create">Создать</a>